.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.hero.has-background {
  position: relative;
  overflow: hidden;
}
.hero-background {
  position: absolute;
  object-fit: cover;
  object-position: center center;
  width: 100%;
  height: 100%;
}
.hero-background.is-transparent {
  opacity: 0.3;
}

#nav{
  position: sticky;
  width: 100%;
  opacity: 0.9;
  background-color:#363636;
}
/* jeigu sugalvopsiu keist nav tada reikes uzdeti id i navbar componenta */

#navbar-links{
  opacity: 0.85;
}
#client-search-results{
  position:absolute;
  z-index: 2;
  top: 55px;
  left: 175px;
  background: whitesmoke;
  width: 203px;
  border-radius: 5px;
}


#client-component-button{
    align-items: center;
    display: flex;
    justify-content: flex-start;
    width: 230px;
    box-sizing: inherit;
}

#form-component-div{
  background-color: black;
  opacity:0.85;
  border-radius: 5px;
  width: 550px;
  padding-bottom: 15px;
  padding-bottom: 15px;
}
#form-component-padding{
  padding-bottom: 10px;
}
#form-component-title{
  display:flex;
  height : 50px
}

#form-component-title h1 {
  margin:auto;
  vertical-align:middle;
}

#expand-button{
  position: relative;
  top: 13px;
  right: 25px;
  color:#ffc37b
}

#comment-div{
  width: 450px;
  display: flex
}

#comment-div a {
  position: relative;
  top: 0px;
  right: -15px;
  color:#ffc37b
}


#form-field-div{
  display:flex;
}
#form-field-div label{
  margin:auto;
  position:relative;
  left: -10px;
}

#form-input{
  position: relative;
  right: 20px;
  width: 250px;
}

#comments-section{
  background-color: black;
  opacity:0.85;
  border-radius: 5px;
}

#comment-div{
  display:flex;
  background-color: grey;
  padding: 10px;
  border-radius: 5px;
}

#client-info{
  position:absolute;
  display:flex;
  top:-40px;
  right:0px;

}

#client-info-buttons{
  height: 249px;
  width: 50px;
  z-index: 2;
  padding-left: 10px;
}

#submit-button{
  height: 249px;
  width: 50px;
  position: fixed;
  right: 140px;
  bottom: -175px;
  z-index: 2;
}

#all-queries-div{
  height: 1000px;
}

#all-queries-buttons{
  padding: 10px;
  display: flex;
  grid-gap:15px;
  padding-left: 110px;
}

#querie-div{
  background-color: black;
  position:relative;
  top:50px;
  border-radius: 5px;
  opacity:0.9;
  width:auto;
}

#querie-div p{
  padding-left: 30px;
  border-radius: 5px;
}

#shareholders{
  padding-top:10px;
  padding-bottom:10px;
  position:relative;
  left:30px;
  top:10px;
  width:97%;
  background-color: lightgrey;
}

#shareholders p{
  display:flex;
  color:black
}
