.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.hero.has-background {
  position: relative;
  overflow: hidden;
}
.hero-background {
  position: absolute;
  object-fit: cover;
  object-position: center center;
  width: 100%;
  height: 100%;
}
.hero-background.is-transparent {
  opacity: 0.3;
}

#nav{
  position: fixed;
  width: 100%;
  opacity: 0.9;
  background-color:#363636;
}
#navbar-links{
  opacity: 0.95;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


#contact-us-fab {
  height: 249px;
  width: 50px;
  position: fixed;
  right: 20px;
  bottom: -150px;
  z-index: 2;
}

#footer-div{
  height: 90px;
  width: 100%; 
  width: 100vw;
  position: fixed;
  bottom: 25px;
  background-color: silver;
  z-index: 1;
  opacity: 0.9;
}

#icon {
  
  height: 40px;
  padding-left:5px;
} 

@media screen and (max-width: 767px) {   
    #icon{
    	height: 25px
    } 
}
